<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SampleWebapiAuthCodeVB.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <SampleWebapiAuthCodeVB.MySettings>
      <setting name="RedirectUri" serializeAs="String">
        <value>http://www.tradestation.com</value>
      </setting>
      <setting name="SIMAPIBaseUrl" serializeAs="String">
        <value>https://sim.api.tradestation.com/v2</value>
      </setting>
      <setting name="PRODAPIBaseUrl" serializeAs="String">
        <value>https://api.tradestation.com/v2</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>SIM</value>
      </setting>
      <setting name="APIKey" serializeAs="String">
        <value>your key goes here</value>
      </setting>
      <setting name="APISecret" serializeAs="String">
        <value>your secret goes here</value>
      </setting>
    </SampleWebapiAuthCodeVB.MySettings>
  </applicationSettings>
</configuration>
